<h1>Round: 1</h1>

<h4>Match 1</h4>

<div class="form-group">
	<form (ngSubmit)="completeRound()">
		<div *ngFor="let match of matches; index as contestantSpot">
			<h4>Match {{ contestantSpot + 1 }}</h4>

			<input type="radio"
			       name="match{{ contestantSpot }}"
			       value="matches[contestantSpot].firstContestant">

			<label>{{ matches[contestantSpot].firstContestant  }}</label>

      <input type="radio"
			       name="match{{ contestantSpot }}"
			       value="matches[contestantSpot].secondContestant">

			<label>{{ matches[contestantSpot].secondContestant }}</label>
      
			<br>
		</div>
	<button type="submit">Complete Round</button>
	</form>
</div>
